@import "tailwindcss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "SF Display Pro", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-*: initial;
  --font-sans: "SF Display Pro", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-mono: "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --font-weight-*: initial;
  --font-weight-normal: 500;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  --color-background: #051008;
  --color-foreground: #8DDCA4;
}

@layer components {
  .shadow-foreground\/15 {
    box-shadow: 0 4px 6px rgba(141, 220, 164, 0.15);
  }
}